@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
	--color-primary: #15722A;
	--color-secondary: #7D1749;
	--color-light-gray: #707070;
	--color-light-black: #060606;
	--font-primary: 'Teko', sans-serif;
	--font-secondary: 'Lato', sans-serif;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	width: 100%;
}

h1{
	font-family: var(--font-primary);
	font-size: 7rem;
	letter-spacing: 0px;
}
h2{
	font-family: var(--font-primary);
	font-size: 4rem;
	font-weight: 500;
}
p{
	font-family: var(--font-secondary);
}

.button{
	border: 0;
	outline: 0;
	font-family: var(--font-primary);
	background-color: var(--color-secondary);
	color: white;
	font-weight: 400;
	border-radius: 3px;
	font-size: 1.75rem;
	width: 10em;
	height: 1.75em;
}

.wrapper{
	max-width: 1420px;
	margin: 0 auto;
	width: 75%;
}

	.header{
		position: sticky;
		background: white;
		width: 100%;
		top: 0;
		z-index: 2;
	}
		.header__container{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			height: 5.2em;
		}

			#logo{
				background: white;
				padding: 1em;
				border-radius: 0.3125rem;
				transition: 1s ease;
				margin: auto 0;
			}
				#logo__image{
					height: 12.5rem;
					transition: 1s ease;
				}

			.nav{
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
			}

				.nav__link{
					font-family: var(--font-primary);
					font-size: 1.75rem;
					color: black;
					font-weight: 500;
					letter-spacing: 0px;
					padding: 0.25em;
					margin: 1rem 0.5rem;
					text-decoration: none;
				}
				.nav__link:hover{
					color: var(--color-primary);
				}




	.main{
		background-image: url("../images/hero.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-origin: border-box;
		background-position: fixed;
		width: 100%;
		z-index: -1;
	}
		.main__container{
			position: relative;
			min-height: 50rem;
		}
			.main__heading{
				position: absolute;
				top: 25em;
				color: white;
			}
				.main__heading h1{
					text-transform: uppercase;
					font-weight: 400;
					line-height: 0.7em;
					color: #FFFFFF;
					text-shadow: 0px 0px 6px #00000099;
					opacity: 1;
				}
				.main__heading p{
					font-size: 2rem;
					font-weight: 400;
					letter-spacing: 0px;
					text-shadow: 0px 0px 6px #00000099;
				}
			.fa-chevron-down{
				position: absolute;
				left: 50%;
				font-size: 2em;
				bottom: 1em;
				color: white;
			}
			.main__box{
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: white;
				box-shadow: 0px 0px 12px #0000001A;
				border-radius: 0.3125rem;
				padding: 2.5em;
				text-align: center;
				transform: translateY(5rem);
				z-index: 1;
			}
				.main__box h1{
					color: var(--color-primary);
					font-weight: bold;
					line-height: 0.7em;
				}
				.main__box span{
					font-size: 0.5em;
					font-weight: 500;
				}
				.main__box p{
					color: var(--color-light-black);
					font-size: 2em;
					font-weight: 400;
					margin-bottom: 1em;
				}


.about{
	width: 100%;
	background-color: white;
}
	.about__container{
		min-height: 33rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		.about__text{
			width: 42%;
		}
			.about__text h2{
				color: var(--color-primary);
			}
			.about__text p{
				color: black;
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.75em;
				margin-bottom: 2em;
				padding-right: 4em;
			}
		.about__images{
			width: 58%;
		}
			.about__image{
				width: 100%;
			}
.camping{
	position: relative;
	width: 100%;
	background-color: var(--color-primary);
}
	.camping__container{
		min-height: 31.125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		.camping__text{
			color: white;
			width: 42%;
		}
			.camping__text p{
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.75em;
				padding-right: 4em;
			}
			.camping__text li{
			list-style-type: none;
			}
		.camping__images{
			position: absolute;
			right: 0;
			width: 67.1rem;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
		}
			.camping__image{
				width: 50%;
				height: 50%;
			}
.domki{
	position: relative;
	width: 100%;
	background-color: white;
}
	.domki__container{
		min-height: 31.125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		.domki__text{
			color: white;
			width: 42%;
		}
			.domki__text h2{
				color: var(--color-primary);
			}
			.domki__text p{
				color: black;
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.75em;
				padding-right: 4em;
			}
		.domki__images{
			position: absolute;
			right: 0;
			width: 67.1rem;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
		}
			.domki__image{
				width: 50%;
				height: 50%;
			}